/*GRUPO A*/
.qatar:hover {
    background-color: #b62c55;
}

.ecuador:hover {
    background-color: #FFD100;
}

.senegal:hover {
    background-color: #009639;
}

.holanda:hover { 
    background-color: #E62E11;
}

/*GRUPO B*/
.inglaterra:hover {
    background-color: #CE1124;
}

.eeuu:hover {
    background-color: #0A3161;
}

.gales:hover {
    background-color: #972732;
}

.iran:hover {
    background-color: #239F40;
}

/*GRUPO C*/
.arg:hover {
    background-color: #7bd1f5;
}

.arabia-saudita:hover{
    background-color: #058536;
}

.mexico:hover {
    background-color: #006341;
}

.polonia:hover {
    background-color: #b62c55;
}

/*GRUPO D*/
.francia:hover {
    background-color: #002654;
}

.australia:hover {
    background-color: #EF3340;
}

.dinamarca:hover {
    background-color: #C8102E;
}

.tunez:hover {
    background-color: #C8102E;
}

/* GRUPO E */

.spain:hover {
    background-color: #AA151B;
}

.alemania:hover {
    background-color: #000000;
}

.japon:hover {
    background-color: #fddada;
}

.costa-rica:hover {
    background-color: #002654;
}

/* GRUPO F */

.belgica:hover {
    background-color: #160203;
}

.canada:hover {
    background-color: #fa1d1d;
}

.marruecos:hover {
    background-color: #b61a1a;
}

.croacia:hover {
    background-color: #0052b6;
}

/* GRUPO G */

.brasil:hover {
    background-color: #00923F;
}

.camerun:hover {
    background-color: #08d15f;
}

.serbia:hover {
    background-color: #C6363C;
}

.suiza:hover {
    background-color: #f31a22;
}

/* GRUPO H */

.uruguay:hover {
    background-color: #00a2ff;
}

.ghana:hover {
    background-color: #009739;
}

.portugal:hover {
    background-color: #ca3915;
}

.corea:hover {
    background-color: #ffffff;
    border-radius: 9px;
}


