@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #c0b0af;
    width: 100%;
}

.container {
    background-color: #83141a;
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
    
}
.group {
    padding: 40px 20px 15px 25px;
    display: flex;
    flex-basis: 25%;
    flex-direction: column;
    background-color: #c0b0af;
  

}

.group h1{
    text-align: center;
    color: aliceblue;
    /* padding-bottom: 10px; */
    padding: 5px;
    background-color: #83141a;
    border-radius: 8px;
}

.group img {
    width: 50px;
    border-radius: 2px;
}

/*******PAISES**********/

.pais {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px;
    border-radius: 10px;
}

.pais p{
    width: 100%;
    padding: 5px 5px 5px 15px;
    font-weight:500;
    font-size: 18px;
    border-radius: 10px;
    background-color: aliceblue;
    font-family:'Noto Sans', sans-serif;
}

.pais:hover {
    transition: ease-in-out 0.1s;
    cursor: pointer;
    transform: scale(1.1);
    cursor: pointer;
    border-radius: 2px;
}

footer {
    padding: 5%;
    background-color: #c0b0af;
    width: 100%;
    text-align: right;
    color: #83141a;
    font-size: 20px;
}

.logo-inicio {
    display: flex;
    width: 100%;
    align-items: center;
}

.logo-home {
    size: 500px;
}

img .logo-full{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 900px;
  }

  .header-flex {
    display: flex;
    width: 100%;
    align-items: center;
  }